.ball {
  position: relative;
  width: 280px;
  height: 280px;
  margin: 30px auto;
  border-radius: 50%;
  background-image: -webkit-radial-gradient(60% 50%, circle, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 100%), -webkit-linear-gradient(-90deg, #D00 45%, #333 45%, #3f3f3f 50%, #333 55%, #FFF 55%);
  background-image: -moz-radial-gradient(60% 50%, circle, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 100%), -moz-linear-gradient(-90deg, #D00 45%, #333 45%, #3f3f3f 50%, #333 55%, #FFF 55%);
  -o-radial-gradient(60% 50%, circle, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 100%),
  background-image: -o-linear-gradient(-90deg, #D00 45%, #333 45%, #3f3f3f 50%, #333 55%, #FFF 55%);
  background-image: radial-gradient(60% 50%, circle, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 100%), linear-gradient(-90deg, #D00 45%, #333 45%, #3f3f3f 50%, #333 55%, #FFF 55%);
}

.button {
  position: absolute;
  width: 20%;
  height: 20%;
  background-color: #FFF;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #666, 0 0 0 10px #fff, 0 0 0 16px #3f3f3f;
  margin: 40%;
}

.ball:hover {
  cursor: pointer;
  -webkit-animation: shake .1s;
  animation-iteration-count: 2;
  cursor: pointer;
  -moz-animation: shake .1s;
  animation-iteration-count: 2;
  cursor: pointer;
  -o-animation: shake .1s;
  animation-iteration-count: 2;
  cursor: pointer;
  animation: shake .1s;
  animation-iteration-count: 2;
}

.ball:active {
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
  }
}

@-moz-keyframes shake {
  0%,
  100% {
    -moz-transform: rotate(-5deg);
  }
  50% {
    -moz-transform: rotate(5deg);
  }
}

@-o-keyframes shake {
  0%,
  100% {
    -o-transform: rotate(-5deg);
  }
  50% {
    -o-transform: rotate(5deg);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}

body {
    font-family: Arial;
    background-color: #242526;
    width: 100%;
    height: 100%;
    min-height: 523px;
    margin: auto;
    text-align: center;
    display: block;
    color: #fff;
    padding:0;
    top:0;
}                

span a {
 color: #fff;
  text-decoration: none;
  padding-right: 20px;
}

span#count {
 padding: 10px 0;
 color: #ffde00;
 -webkit-text-stroke: 1px #3B4CCA;
 font-size: 32px;
 font-weight: bolder;
 margin: auto;
 text-align: center;
}

.left-column {
 display: block;
 width: 100%;
 min-height: 235px;
 padding-top: 60px;
}

.right-column {
 display: block;
 min-height: 235px;
 padding:0;
 text-align: center;
 min-width: 100%;
 padding-top: 40px;
}

.top-header {
 position: fixed;
 top:0;
 font-size: 16px;
 padding: 0;
 color: #fff;
 width: 100%;
 text-align: center;
 z-index: 999;
}

.buy-items {
  padding:0;
  margin:0;
}

.buy-items li {
 list-style-type: none; 
  padding: 10px;
  width: 100%;
  height: 50px;
  margin: auto;
  text-align: center;
}

.buy-items input[type=image] {
  border-radius: 50%;
  border: 1px solid black;
  transition: ease-in-out 0.8s;
  padding: 5px;
  background-color: #fff;
  transition: all .2s ease-in-out; 
}
.buy-items input[type=image]:hover {
 transform: scale(0.9);  
}

.shop-minitext {
font-size: 14px;
 width: 80%;
  margin:auto;
}

h3.shiny-pokemon {
 margin-top: 40px; 
  font-size: 18px;
}

h2 {
font-size: 22px;
}

h2.shop-pokemon {
margin-top: 50px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: none;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 14px;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

ul.buy-items#pokemon input[type="image"] {
 width: 80px; 
}

@media only screen and (max-width: 1024px) {
   body {
    width: 100%;
    margin:0;
    padding:0;
   }
  
  .info {
  float:middle;
  }
  
  .left-column {
    display: block;
    width: 100%;
    border-right:0;
    min-height: 200px;
    padding-top: 60px;
  }
  .right-column {
    display:block;
    width: 100%;
    padding:0;
    margin:0;
    min-height:280px;
    padding-top:0;
    margin-top: 40px;
    margin-bottom:20px;
  }
  
  .buy-items li {
   margin:0;
  padding:0;
  }

  .unselectable {
    user-select: none;
  }
  
  h3.shiny-pokemon {
   margin-top: 60px;
  }
  
  h2.shop-pokemon {
   margin-top:70px;
  }
  .top-header {
    text-align: center;
    float: middle;
    font-size: 18px;
  }
}
