@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@500&display=swap');
body {
    font-family: 'Noto Sans SC', sans-serif;
    background-color: #242526;
    width: 100%;
    height: 100%;
    min-height: 523px;
    margin: auto;
    text-align: center;
    display: block;
    color: #fff;
    padding:0;
    top:0;
}                

a {
 color: #fff;
 text-decoration: underline;
}

span a {
 color: #fff;
  text-decoration: none;
  padding-right: 20px;
}

span#count {
 padding: 20px 20px;
 color: #fff;
 font-size: 32px;
 font-weight: bolder;
 margin: auto;
 text-align: center;
}

.left-column {
 display: block;
 width: 100%;
 padding-top: 20px;
}

.right-column {
 display: block;
 padding:0;
 text-align: center;
 min-width: 100%;
 padding-top: 0;
}

.top-header {
 top:0;
 font-size: 16px;
 padding: 0;
 color: #fff;
 width: 100%;
 text-align: center;
 z-index: 999;
}

.buy-items {
  padding:0;
  margin:0;
}

.buy-items li {
 list-style-type: none; 
  padding: 10px;
  width: 100%;
  height: 50px;
  margin: auto;
  text-align: center;
}

.buy-items input[type=image] {
  border-radius: 50%;
  border: 1px solid black;
  transition: ease-in-out 0.8s;
  padding: 5px;
  background-color: #fff;
  transition: all .2s ease-in-out; 
}
.buy-items input[type=image]:hover {
 transform: scale(0.9);  
}

.shop-minitext {
font-size: 14px;
 width: 80%;
  margin:auto;
}

h3.shiny-pokemon {
 margin-top: 40px; 
  font-size: 18px;
}

h2 {
font-size: 22px;
}

h2.shop-pokemon {
margin-top: 50px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: none;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 14px;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

ul.buy-items#pokemon input[type="image"] {
 width: 80px; 
}

@media only screen and (max-width: 1024px) {
   body {
    width: 100%;
    margin:0;
    padding:0;
   }
  
  .info {
  float:middle;
  }
  
  .left-column {
    display: block;
    width: 100%;
    border-right:0;
    min-height: 200px;
    padding-top: 60px;
  }
  .right-column {
    display:block;
    width: 100%;
    padding:0;
    margin:0;
    min-height:280px;
    padding-top:0;
    margin-top: 40px;
    margin-bottom:20px;
  }
  
  .buy-items li {
   margin:0;
  padding:0;
  }

  .unselectable {
    user-select: none;
  }
  
  h3.shiny-pokemon {
   margin-top: 60px;
  }
  
  h2.shop-pokemon {
   margin-top:70px;
  }
  .top-header {
    text-align: center;
    float: middle;
    font-size: 18px;
  }
}
