body {
    padding-top: 30px;
    font-family: Arial;
    background-color: #77bfe2;
    width: 500px;
    margin: auto;
    text-align: center;
}                                           

p {
    font-size: 20px;
    color: white;
    display: block;
    margin: 5px;
}

